<% if @articles.count == 0 %>
  <div class="no_articles"></div>
<% else %>
  <div class="all_articles">

    <div class="button first_button"><%= link_to 'Create article', new_article_path %></div>
    <br />
    <h2>Все статьи</h2>
    <% @articles.each do |article| %>
      <div class="link_article"><%= link_to article.menu_label, article %></div>
    <% end %>

</div>
<% end %>
