body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: Open Sans;
  background: #e3e7ed linear-gradient(hsla(0,100%,100%,.7), transparent);

}

.no-articles {
  width: 710px;
  height: 140px;
  background-color: #5e697a;
  margin: 140px auto 0px auto;
  border-radius: 16px;
  box-shadow: inset rgba(255,255,255,0.2) 8px  8px 18px 5px,
              inset rgba(0,0,0,0.5)      -8px -8px 18px 5px;

  a {
    display: block;
    height: 100%;
    text-align: center;
    line-height: 140px;
    font-size: 2.8em;
    color: white;
    text-decoration: none;
  }
}

#toggle {
  display: none;
}

.index-new {
  width: 1070px;
  min-height: 1080px;
  margin: 0px auto;
}

.inner {
  width: 100%;
}

.title-new {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2.3em;
  vertical-align: 65px;
  padding: 15px 0px;
  color: #5a5a5a;
  border-bottom: 1px solid #f1f1f1;
}

.article-index {
  float: left;
  width: 350px;
  height: 300px;
  border: 1px solid #f2f2f2;
  margin: 2px;
  background-color: #5e697a;

  span {
    line-height: normal;
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;
    text-shadow: #888 1px 1px 0, #888 -1px -1px 0,
                 #888 -1px 1px 0, #888 1px -1px 0;
  }

  a {
    display: block;
    font-weight: 600;
    font-size: 1.3em;
    padding: 0px 10px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    text-align: center;
    height: 100%;
    line-height: 300px;
  }
}

.article-index:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}


.article-index-outer {
  min-height: 380px;
  width: 1070px;
  margin: 0px auto;
}

.title-published {
  font-size: 1.7em;
  font-weight: 500;
  color: #5a5a5a;
  padding: 20px 0px;
}

#clear {
  clear: both;
  padding-bottom: 20px;
}

#body {
  background-color: white;
}

.menu {
  border-bottom: 1px solid #f1f1f1;
  width: 100%;

  a {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 200;
    text-decoration: none;
    color: #5a5a5a;
    padding: 15px 25px 15px 0px;
  }
}
