body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: Open Sans;
  background: #5999af linear-gradient(hsla(0,100%,100%,.7), transparent);
  min-height: 960px;
}

.all_articles {
  position: relative;
  margin: 0px auto;
  width: 1400px;
  background-color: #f7fffe;
  min-height: 960px;
  -moz-box-shadow: 0 0 8px rgba(72, 176, 196, 0.7);
  -webkit-box-shadow: 0 0 8px rgba(72, 176, 196, 0.7);
  box-shadow: 0 0 8px rgba(72, 176, 196, 0.7);

  ol li {
    padding-top: 20px;
    font-size: 1.3em;
  }
}

.link_article {
  a {
    text-decoration: none;
    color: black;

  }
}

.all_art {
  padding: 20px 0px 0px 20px;
  font-size: 1.6em;
  font-weight: 600;
}

#toggle {
  display: none;
}
