.form-new {
  position: relative;
  margin: 0px auto;
  width: 1400px;
  padding: 10px 0px 20px 0px;
  background-color: #f6f6f6;
  min-height: 960px;
  -moz-box-shadow: 0 0 8px rgba(72, 176, 196, 0.7);
  -webkit-box-shadow: 0 0 8px rgba(72, 176, 196, 0.7);
  box-shadow: 0 0 8px rgba(72, 176, 196, 0.7);
}

#title {
  margin-left: 20px;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding-left: 20px;
  font-size: 1.2em;
  font-weight: 600;

  label {
    vertical-align: top;
    height: 30px;
  }

  select {
    padding-left: 10px;
    border-radius: 4px;
    font-size: 1.2em;
    background-color: #f9f9f9;
  }

  textarea, input {
    border-radius: 4px;
    font-size: 1.1em;
    margin-top: 5px;
    width: 990px;
    height: 30px;
    padding: 0px 0px 0px 10px;
    border: 1px solid gray;
  }

  textarea {
    padding-left: 10px;
    border-radius: 4px;
    height: 669px;
  }
}

#button input {
  width: 1002px;
  background: linear-gradient(to left, #d9ead0, #ade590, #8aed57, #ade590, #d9ead0);
  color: white;
  font-size: 1.3em;
  font-weight: 600;
}
